<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Google Calendar Settings</title>

  <!-- build:css css/settings.min.css -->
  <link rel="stylesheet" href="components/common-style/dist/css/rise.min.css">
  <link rel="stylesheet" href="components/spectrum/spectrum.css">
  <link rel="stylesheet" href="components/bootstrap-select/bootstrap-select.css">
  <link rel="stylesheet" href="components/rv-bootstrap-formhelpers/dist/css/rv-bootstrap-formhelpers.css">
  <!-- endbuild -->

  <style type="text/css">
    body, html {
      background: transparent;
    }
  </style>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>

</head>
<body ng-app="risevision.widget.googleCalendar.settings" ng-controller="settingsController">
  <div class="widget">
    <div class="overlay"></div>
    <div class="settings">
      <div class="settings-center">
        <div class="wrapper container modal-content" ng-controller="calendarSettingsController" ng-cloak>
          <div class="modal-header">
            <h2 id="settings-title"> {{"google-calendar.settings" | translate }}
              <button id="settings-close" type="button" class="close" ng-click="closeSettings()">
                <span>&times;</span>
                <span class="sr-only">Close</span>
              </button>
            </h2>
            <div class="sticky-wrapper">
              <widget-button-toolbar
                save="saveSettings()" cancel="closeSettings()" disable-save="settingsForm.$invalid"
                help="http://help.risevision.com/help#/user/content/calendar-widget"
                contribute="https://github.com/Rise-Vision/widget-google-calendar"></widget-button-toolbar>
            </div>
          </div>
          <form role="form" name="settingsForm">
            <div ng-class="{'form-group':true, 'has-error':settingsForm.calendar.$invalid}">
              <label>{{"google-calendar.calendar.label" | translate }}</label>
              <input name="calendar" type="text" ng-model="settings.additionalParams.calendar" required class="form-control">
              <p class="text-danger" ng-show="settingsForm.calendar.$error.required">
                {{"google-calendar.calendar.error.required" | translate}}
              </p>
            </div>
            <scroll-setting scroll="settings.additionalParams.scroll"></scroll-setting>
            <div class="section">
              <h5>{{"google-calendar.date.heading" | translate}}</h5>
              <div class="form-group">
                <label for="dateRange">{{"google-calendar.date.range.label" | translate }}</label>
                <div class="row">
                  <div class="col-xs-6 col-md-3">
                    <select id="dateRange" name="dateRange" ng-model="settings.additionalParams.dateRange" class="form-control">
                      <option value="day">{{"google-calendar.date.range.day" | translate}}</option>
                      <option value="week">{{"google-calendar.date.range.week" | translate}}</option>
                      <option value="month">{{"google-calendar.date.range.month" | translate}}</option>
                      <option value="6months">{{"google-calendar.date.range.6months" | translate}}</option>
                      <option value="12months">{{"google-calendar.date.range.12months" | translate}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-show="showDateFormat">
                <label for="dateFormat">{{"google-calendar.date.format.label" | translate}}</label>
                <div class="row">
                  <div class="col-xs-6 col-md-3">
                    <select id="dateFormat" name="dateFormat" ng-model="settings.additionalParams.dateFormat" class="form-control">
                      <option value="D/M/YYYY">{{currentDate | date: "dd'/'MM'/'yyyy"}}</option>
                      <option value="M/D/YYYY">{{currentDate | date: "MM'/'dd'/'yyyy"}}</option>
                      <option value="YYYY/M/D">{{currentDate | date: "yyyy'/'MM'/'dd"}}</option>
                      <option value="MMMM D, YYYY">{{currentDate | date: "MMMM dd',' yyyy"}}</option>
                      <option value="dddd, MMMM D">{{currentDate | date:"EEEE',' MMMM d"}}</option>
                      <option value="dddd, MMMM D, YYYY">{{currentDate | date:"EEEE',' MMMM d',' yyyy"}}</option>
                      <option value="D-MMM-YYYY">{{currentDate | date:"dd'-'MMM'-'yyyy"}}</option>
                      <option value="ddd, MMM D">{{currentDate | date:"EEE',' MMM d"}}</option>
                      <option value="ddd, D-MMM-YYYY">{{currentDate | date:"EEE',' dd'-'MMM'-'yyyy"}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <label>{{"google-calendar.date.font.label" | translate}}</label>
              <font-setting font-data="settings.additionalParams.dateFont" hide-alignment="true"
                            preview-text="{{'google-calendar.date.font.text' | translate}}">
              </font-setting>
            </div>
            <div class="section">
              <h5>{{"google-calendar.time.heading" | translate}}</h5>
              <div class="form-group">
                <label for="timeFormat">{{"google-calendar.time.format.label" | translate}}</label>
                <div class="row">
                  <div class="col-xs-6 col-md-3">
                    <select id="timeFormat" name="timeFormat" ng-model="settings.additionalParams.timeFormat" class="form-control">
                      <option value="12hour">{{"google-calendar.time.format.12hour" | translate}}</option>
                      <option value="24hour">{{"google-calendar.time.format.24hour" | translate}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>{{"google-calendar.time.font.label" | translate}}</label>
                <font-setting font-data="settings.additionalParams.timeFont" hide-alignment="true"
                              preview-text="{{'google-calendar.time.font.text' | translate}}">
                </font-setting>
              </div>
            </div>
            <div class="section">
              <div class="form-group">
                <label>{{"google-calendar.title-font.label" | translate}}</label>
                <font-setting font-data="settings.additionalParams.titleFont" hide-alignment="true"
                              preview-text="{{'google-calendar.title-font.text' | translate}}">
                </font-setting>
              </div>
              <div class="form-group">
                <label>{{"google-calendar.location-font.label" | translate}}</label>
                <font-setting font-data="settings.additionalParams.locationFont" hide-alignment="true"
                              preview-text="{{'google-calendar.location-font.text' | translate}}">
                </font-setting>
              </div>
              <div class="form-group">
                <label>{{"google-calendar.description-font.label" | translate}}</label>
                <font-setting font-data="settings.additionalParams.descriptionFont" hide-alignment="true"
                              preview-text="{{'google-calendar.description-font.text' | translate}}">
                </font-setting>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- build:js js/settings.min.js -->
  <script src="components/angular-translate/angular-translate.js"></script>
  <script src="components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script src="components/rv-common-i18n/dist/i18n.js"></script>
  <script src="components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
  <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="components/bootstrap-select/bootstrap-select.js"></script>
  <script src="components/spectrum/spectrum.js"></script>
  <script src="components/rv-bootstrap-formhelpers/dist/js/rv-bootstrap-formhelpers.js"></script>
  <script src="components/bootstrap-form-components/dist/js/bootstrap-font-picker.js"></script>
  <script src="components/bootstrap-form-components/dist/js/angular/bootstrap-font-picker.js"></script>
  <script src="components/bootstrap-form-components/dist/js/bootstrap-font-size-picker.js"></script>
  <script src="components/bootstrap-form-components/dist/js/angular/bootstrap-font-size-picker.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/alignment.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/angular/alignment.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/url-field.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/angular/color-picker.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/font-style.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/angular/font-style.js"></script>

  <script src="config/config.js"></script>
  <script src="settings/settings-app.js"></script>
  <script src="components/widget-settings-ui-core/dist/widget-settings-ui-core.js"></script>
  <script src="settings/ctr-google-calendar-settings.js"></script>

  <script src="components/widget-settings-ui-components/dist/js/angular/widget-button-toolbar.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/angular/tooltip.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/angular/scroll-setting.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/angular/font-setting.js"></script>
  <!-- endbuild -->

  <!-- build:e2egadgets -->
  <script src="//rvashow2.appspot.com/gadgets/gadgets.min.js"></script>
  <!-- endbuild -->

  <script src="//s3.amazonaws.com/rise-common/scripts/i18next/i18next.min.js"></script>


</body>
</html>
