<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Google Calendar Settings</title>

  <!-- build:css css/settings.min.css -->
  <link rel="stylesheet" href="components/common-style/dist/css/rise.min.css">
  <link rel="stylesheet" href="components/spectrum/spectrum.css">
  <link rel="stylesheet" href="components/bootstrap-select/bootstrap-select.css">
  <link rel="stylesheet" href="components/rv-bootstrap-formhelpers/dist/css/rv-bootstrap-formhelpers.css">
  <!-- endbuild -->

  <style type="text/css">
    body, html {
      background: transparent;
    }
  </style>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>

</head>
<body ng-app="risevision.widget.googleCalendar.settings" ng-controller="settingsController">
<div class="widget">
  <div class="overlay"></div>
  <div class="settings">
    <div class="settings-center">
      <div class="wrapper container modal-content" ng-controller="calendarSettingsController" ng-cloak>
        <div class="modal-header">
          <h2 id="settings-title"> {{"google-calendar.settings" | translate }}
            <button id="settings-close" type="button" class="close" ng-click="closeSettings()">
              <span>&times;</span>
              <span class="sr-only">Close</span>
            </button>
          </h2>
          <div class="sticky-wrapper">
            <widget-button-toolbar
                save="saveSettings()" cancel="closeSettings()" disable-save="settingsForm.$invalid"
                help="http://help.risevision.com/help#/user/content/calendar-widget"
                contribute="https://github.com/Rise-Vision/widget-google-calendar"></widget-button-toolbar>
          </div>
        </div>
        <form role="form" name="settingsForm">
          <div ng-class="{'form-group':true, 'has-error':settingsForm.calendar.$invalid}">
            <label>{{ "google-calendar.calendar.label" | translate }}</label>
            <input name="calendar" type="text" ng-model="settings.additionalParams.calendar" required class="form-control">
            <p class="text-danger" ng-show="settingsForm.calendar.$error.required">
              {{"google-calendar.calendar.error.required" | translate}}
            </p>
          </div>
          <scroll-setting scroll="settings.additionalParams.scroll"></scroll-setting>
          <div class="section">
            <h5>{{"google-calendar.date.heading" | translate}}</h5>
            <div class="form-group">
              <label for="dateRange">{{ "google-calendar.date.range.label" | translate }}</label>
              <div class="row">
                <div class="col-xs-6 col-md-3">
                  <select id="dateRange" name="dateRange" ng-model="settings.additionalParams.dateRange" class="form-control">
                    <option value="day">{{"google-calendar.date.range.day" | translate}}</option>
                    <option value="week">{{"google-calendar.date.range.week" | translate}}</option>
                    <option value="8days">{{"google-calendar.date.range.8days" | translate}}</option>
                    <option value="9days">{{"google-calendar.date.range.9days" | translate}}</option>
                    <option value="10days">{{"google-calendar.date.range.10days" | translate}}</option>
                    <option value="11days">{{"google-calendar.date.range.11days" | translate}}</option>
                    <option value="12days">{{"google-calendar.date.range.12days" | translate}}</option>
                    <option value="13days">{{"google-calendar.date.range.13days" | translate}}</option>
                    <option value="14days">{{"google-calendar.date.range.14days" | translate}}</option>
                    <option value="15days">{{"google-calendar.date.range.15days" | translate}}</option>
                    <option value="month">{{"google-calendar.date.range.month" | translate}}</option>
                    <option value="6months">{{"google-calendar.date.range.6months" | translate}}</option>
                    <option value="12months">{{"google-calendar.date.range.12months" | translate}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6 col-md-6">
                  <input  id="revealPastEvents" name="revealPastEvents" ng-model="settings.additionalParams.revealPastEvents" type="checkbox">
                  &nbsp;&nbsp;
                  <label for="revealPastEvents">{{ "google-calendar.revealPastEvents.label" | translate }}</label>
                </div>
              </div>
            </div>
            <div class="form-group" ng-show="showDateFormat">
              <label for="dateFormat">{{"google-calendar.date.format.label" | translate}}</label>
              <div class="row">
                <div class="col-xs-6 col-md-3">
                  <select id="dateFormat" name="dateFormat" ng-model="settings.additionalParams.dateFormat" class="form-control">
                    <option value="D/M/YYYY">{{currentDate | date: "dd'/'MM'/'yyyy"}}</option>
                    <option value="M/D/YYYY">{{currentDate | date: "MM'/'dd'/'yyyy"}}</option>
                    <option value="YYYY/M/D">{{currentDate | date: "yyyy'/'MM'/'dd"}}</option>
                    <option value="MMMM D, YYYY">{{currentDate | date: "MMMM dd',' yyyy"}}</option>
                    <option value="dddd, MMMM D">{{currentDate | date:"EEEE',' MMMM d"}}</option>
                    <option value="dddd, MMMM D, YYYY">{{currentDate | date:"EEEE',' MMMM d',' yyyy"}}</option>
                    <option value="D-MMM-YYYY">{{currentDate | date:"dd'-'MMM'-'yyyy"}}</option>
                    <option value="ddd, MMM D">{{currentDate | date:"EEE',' MMM d"}}</option>
                    <option value="ddd, D-MMM-YYYY">{{currentDate | date:"EEE',' dd'-'MMM'-'yyyy"}}</option>
                  </select>
                </div>
              </div>
              <label>{{"google-calendar.date.font.label" | translate}}</label>
            </div>
            <div class="form-group">
              <label>{{"google-calendar.date.font.label" | translate}}</label>
              <font-setting font-data="settings.additionalParams.dateFont" hide-alignment="true"
                            preview-text="{{'google-calendar.date.font.text' | translate}}">
              </font-setting>
            </div>
          </div>
          <div class="section">
            <h5>{{"google-calendar.time.heading" | translate}}</h5>
            <div class="form-group">
              <label for="timeFormat">{{"google-calendar.time.format.label" | translate}}</label>
              <div class="row">
                <div class="col-xs-6 col-md-3">
                  <select id="timeFormat" name="timeFormat" ng-model="settings.additionalParams.timeFormat" class="form-control">
                    <option value="12hour">{{"google-calendar.time.format.12hour" | translate}}</option>
                    <option value="24hour">{{"google-calendar.time.format.24hour" | translate}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label>{{"google-calendar.time.font.label" | translate}}</label>
                <font-setting font-data="settings.additionalParams.timeFont" hide-alignment="true"
                              preview-text="{{'google-calendar.time.font.text' | translate}}">
                </font-setting>
              </div>
            </div>
            <div class="form-group">
              <label for="concealEndTime">{{ "google-calendar.concealEndTime.label" | translate }}</label>
              <div class="row">
                <div class="col-xs-6 col-md-3">
                  <select id="concealEndTime" name="concealEndTime" ng-model="settings.additionalParams.concealEndTime" class="form-control">
                    <option value="never">{{"google-calendar.concealEndTime.never" | translate}}</option>
                    <option value="always">{{"google-calendar.concealEndTime.always" | translate}}</option>
                    <option value="hour">{{"google-calendar.concealEndTime.hour" | translate}}</option>
                    <option value="hourorless">{{"google-calendar.concealEndTime.hourorless" | translate}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="section">
            <h5>{{"google-calendar.event.heading" | translate}}</h5>
            <div class="form-group">
              <label>{{"google-calendar.title-font.label" | translate}}</label>
              <font-setting font-data="settings.additionalParams.titleFont" hide-alignment="true"
                            preview-text="{{'google-calendar.title-font.text' | translate}}">
              </font-setting>
            </div>
            <div class="form-group">
              <label>{{"google-calendar.location-font.label" | translate}}</label>
              <font-setting font-data="settings.additionalParams.locationFont" hide-alignment="true"
                            preview-text="{{'google-calendar.location-font.text' | translate}}">
              </font-setting>
            </div>
            <div class="form-group">
              <label>{{"google-calendar.description-font.label" | translate}}</label>
              <font-setting font-data="settings.additionalParams.descriptionFont" hide-alignment="true"
                            preview-text="{{'google-calendar.description-font.text' | translate}}">
              </font-setting>
            </div>
          </div>
          <div class="section">
            <div class="form-group">
              <label>{{"google-calendar.css-additions.label" | translate}}</label>
              <div class="row">
                <div class="col-xs-6 col-md-6">
                  <textarea rows="6" cols="80" id="extraCSS" name="extraCSS" ng-model="settings.additionalParams.extraCSS" ng-minlength="0" ng-maxlength="1024"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-md-6">
                  <p>You can add styling rules in this box, using the full capabilities of CSS.</p>
                  <p>For example, if you add the rule <tt>.today .date {color: red;}</tt> the date for today's events will be rendered in red.</p>
                  <p>In your CSS selector in place of <tt>.today</tt> you may use <tt>.nottoday</tt>, <tt>.tomorrow</tt>, <tt>.future</tt>, <tt>.nextweek</tt>,
                    or an English-language weekday name like <tt>.tuesday</tt>. <tt>.future</tt> refers to all days except today and tomorrow.  <tt>.nextweek</tt>
                    refers to the day that's one week from today.</p>
                  <p>If you want to show only an overview of future events, you can use the following style rule.
                    It conceals locations and descriptions for all events except today's and tomorrow's.
                  <pre>.future .description, .future .location {display: none;}</pre></p>
                  <p>For today's events, you can use the <tt>.current</tt> and <tt>.past</tt> selectors. For example, to show current (presently in progress) events in orange
                    and completed events in gray, use these style rules.
                  <pre>.current .all {color: orange;}<br />.past .all {color: gray;}</pre></p>
                  <p>You can use <tt>.day1</tt> to style the first day of each month, or <tt>.day25</tt> to style the 25th day.
                    You can use the <tt>.december</tt> selector in the same way to style everything in December. You can combine these selectors. For example,
                    <tt>.december.day25</tt> styles events on December 25th.</p>
                  <p>In place of <tt>.date</tt> you may use <tt>.time</tt>, <tt>.summary</tt>, <tt>.location</tt> or <tt>.description</tt>.
                    If you use <tt>.header</tt> you'll style the time, summary, and location all together. If you use <tt>.all</tt> you'll style all parts of the display.
                    So, you can show the header for tomorrow's events in red like this:
                  <pre>.tomorrow .header {color:red;}</pre></p>
                  You can show everything about Sunday events in dark blue like this:
                  <pre>.sunday .all {color:darkblue;}</pre></p>
                  <p>To indent the location of each event, and show the location of today's events in blue, you can use this CSS:
                  <pre>.location {margin-left: 40px; }<br />.today .location {color:blue; }</pre></p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- build:js js/settings.min.js -->
<script src="components/angular-translate/angular-translate.js"></script>
<script src="components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="components/rv-common-i18n/dist/i18n.js"></script>
<script src="components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="components/bootstrap-select/bootstrap-select.js"></script>
<script src="components/spectrum/spectrum.js"></script>
<script src="components/rv-bootstrap-formhelpers/dist/js/rv-bootstrap-formhelpers.js"></script>
<script src="components/bootstrap-form-components/dist/js/bootstrap-font-picker.js"></script>
<script src="components/bootstrap-form-components/dist/js/angular/bootstrap-font-picker.js"></script>
<script src="components/bootstrap-form-components/dist/js/bootstrap-font-size-picker.js"></script>
<script src="components/bootstrap-form-components/dist/js/angular/bootstrap-font-size-picker.js"></script>
<script src="components/widget-settings-ui-components/dist/js/alignment.js"></script>
<script src="components/widget-settings-ui-components/dist/js/angular/alignment.js"></script>
<script src="components/widget-settings-ui-components/dist/js/url-field.js"></script>
<script src="components/widget-settings-ui-components/dist/js/angular/color-picker.js"></script>
<script src="components/widget-settings-ui-components/dist/js/font-style.js"></script>
<script src="components/widget-settings-ui-components/dist/js/angular/font-style.js"></script>

<script src="config/config.js"></script>
<script src="settings/settings-app.js"></script>
<script src="components/widget-settings-ui-core/dist/widget-settings-ui-core.js"></script>
<script src="settings/ctr-google-calendar-settings.js"></script>

<script src="components/widget-settings-ui-components/dist/js/angular/widget-button-toolbar.js"></script>
<script src="components/widget-settings-ui-components/dist/js/angular/tooltip.js"></script>
<script src="components/widget-settings-ui-components/dist/js/angular/scroll-setting.js"></script>
<script src="components/widget-settings-ui-components/dist/js/angular/font-setting.js"></script>
<!-- endbuild -->

<!-- build:e2egadgets -->
<script src="//rvashow2.appspot.com/gadgets/gadgets.min.js"></script>
<!-- endbuild -->

<script src="//s3.amazonaws.com/rise-common/scripts/i18next/i18next.min.js"></script>


</body>
</html>
